@import "tailwindcss";


@theme {
  --color-brand-orange: #ff7a1a;
  --color-brand-pink: #ec3d75;
  --color-brand-violet: #8246d6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f8f8fa;
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}